mods/
.fabric/
resourcepacks/\[1.18.x\]ProgrammerArtFix-rv4.zip
resourcepacks/golden-days-base-1.18-1.7.1.zip
resourcepacks/New.Music.Remover.1.0.zip
saves/
screenshots/
logs/
essential/
hotbar.nbt
whitelist.json
BTLib.dll
original.properties
preprocessed.properties
patched_shaders/
supportercache.json
usercache.json
config/registryDump.txt
crash-reports/
